{% extends 'base/base.html' %}
{% block title %}Remove Event Participant{% endblock title %}
{% block breadcrumb %}Remove Event Participant{% endblock breadcrumb %}

{% block content %}
    <h1>Remove Event Participant</h1>
    <form action="" method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ eventmember.user }}" from "{{ eventmember.event }}" Event?</p>
        <button class="btn btn-danger ml-2" type="submit">Confirm</button>
    </form>
{% endblock content %}